button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.big-button {
    background-color: $purple;
    border: none;
    border-bottom: 0.6rem solid darken( $purple, 10% );
    color: #fff;
    font-weight: bold;
    font-size: $l-size;
    margin-bottom: $m-size;
    padding: 2.4rem;
    width: 100%;
}

.big-button:disabled {
    opacity: 0.5;
}


.button {
    background-color: $purple;
    border: none;
    border-bottom: .3rem solid darken( $purple, 10% );
    color: #fff;
    font-weight: 500;
    padding: $s-size;
}

.button--link {
    background: none;
    border: none;
    color: $off-white;
    padding: 0;
}

.big-button:hover:not(:disabled),
.big-button:focus:not(:disabled),
.button:hover,
.button:focus {
    background-color: lighten( $purple, 5% );
    border: inherit solid darken( $purple, 5% );
}

.button--link:hover,
.button--link:focus {
    background: none;
    color: darken( $off-white, 10% );
}

@media ( min-width: $desktop-breakpoint ) {

    .big-button {
        margin-bottom: $xl-size;
    }

}
